*{
    margin: 0;
    padding: 0;
}
header{
    height: 100vh;
    background: url('./img/top_bg.png') no-repeat top center;
    background-size: cover;
    overflow: hidden;
}
.header-content{display: flex;justify-content: center;align-items: center;flex-direction: column;color: aliceblue;
                margin-top: 70vh;}
.content-name{font-size: 1.25rem;}
.content-wen{font-size: 1rem;}

.resume{
    background: #fff url('./img/body_bg.png') center top repeat-y;
    padding: 0;
    width: 90vw;
}
.education,.skill,.work,.project,.evaluation,.honor {padding-top: 1vh;}
.education-name,.professional-skill,.work-experience,.project-experience,.self-evaluation,.Myhonor{
    font-size: 1.25rem;
    font-weight: 700;
    border-bottom: 2px solid #3eb45f;
}
.school{
    margin-top: 2vh;
    display: flex;
    justify-content: space-between;
    font-size: 0.875rem;
    color: #333;
}
.project-number2{
    margin-top: 4vh;
}