*{
    margin: 0;
    padding: 0;
}
header{
    height: 95vh;
    background: url(http://ss.jiaobu365.com/2017/home/images2/mr0020/top_bg.png) no-repeat top center;
    background-size: contain;
    overflow: hidden;
}
.header-content{display: flex;justify-content: center;align-items: center;flex-direction: column;color: aliceblue;
                margin-top: 70vh;}
.content-name{font-size: 1.25rem;}
.content-wen{font-size: 1rem;}

.resume{
    height: 1000px !important;
    background: #fff url(http://ss.jiaobu365.com/2017/home/images2/mr0020/body_bg.png) center top repeat-y;
    padding: 0;
    width: 90vw;
    padding-left: 5vw;
}
.education,.skill,.work {padding-top: 2vh; margin-bottom: 5vh;}
.education-name,.professional-skill,.work-experience{
    font-size: 1.25rem;
    font-weight: 700;
    border-bottom: 2px solid #3eb45f;
}
.school{
    margin-top: 2vh;
    display: flex;
    justify-content: space-between;
    font-size: 0.875rem;
    color: #333;
}